@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Architects+Daughter");
/* line 10, ../stylesheets/modules/_base.scss */
body {
  background-color: white;
}

/* line 1, ../stylesheets/partials/_header.scss */
h1, h3 {
  font-family: 'Architects Daughter', cursive;
}

/* line 5, ../stylesheets/partials/_header.scss */
div {
  font-family: "Architects Daughter", cursive;
  font-size: 1em;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

/* line 1, ../stylesheets/partials/_form.scss */
input {
  padding: 10px;
  border: 1px solid #A4A4A4;
}

/* line 6, ../stylesheets/partials/_form.scss */
input#buttonHinzufügen {
  background-color: #3399cc;
  color: white;
}

/* line 11, ../stylesheets/partials/_form.scss */
input#buttonSearch {
  background-color: white;
  color: #3399cc;
}

/* line 1, ../stylesheets/partials/_list.scss */
ul {
  padding: 0px;
}
/* line 3, ../stylesheets/partials/_list.scss */
ul li {
  font-family: "Architects Daughter", cursive;
  font-size: 1.4em;
  color: #585858;
  list-style: none;
  padding: 20px;
  border-top: 1px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  background-color: white 100%;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed 0%), to(white 100%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ededed 0%, white 100%);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #ededed 0%, white 100%);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #ededed 0%, white 100%);
  /* IE10 */
  background-image: -o-linear-gradient(top, #ededed 0%, white 100%);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #ededed 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ededed 0%', EndColorStr='white 100%');
}
/* line 13, ../stylesheets/partials/_list.scss */
ul li:hover {
  background-color: white 100%;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6 20%), to(white 100%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #e6e6e6 20%, white 100%);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #e6e6e6 20%, white 100%);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #e6e6e6 20%, white 100%);
  /* IE10 */
  background-image: -o-linear-gradient(top, #e6e6e6 20%, white 100%);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #e6e6e6 20%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e6e6e6 20%', EndColorStr='white 100%');
  color: #3399cc;
}
/* line 19, ../stylesheets/partials/_list.scss */
ul li:first-child {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  background-clip: padding-box;
}
/* line 23, ../stylesheets/partials/_list.scss */
ul li:last-child {
  border-bottom: 1px solid #D8D8D8;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-clip: padding-box;
}
